<aside class="flash row" style="padding-top: 20px;">
  <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3">
    {{flash.message}}
  </article>
</aside>

<form class="form-horizontal" role="form" class="edit-user" name="form" novalidate>
  <div class="form-group" ng-class="{'has-error has-feedback':errors.name, 'has-success has-feedback': form.name.$valid}">
    <label for="name" class="col-md-2 control-label col-md-offset-2">
      Name
    </label>

    <div class="col-md-5">
      <input type="text" name="name" class="form-control" placeholder="e.g. Baked Alaska" ng-model="recipe.name"
             ng-maxlength="70" ng-minlength="2" required="">

      <div ng-show="form.$submitted || form.name.$touched || form.name.$dirty">
        <div ng-show="form.name.$error.required">
          <p class="help-block">
            <span class="text-danger">Please tell us a Recipe Name</span>
          </p>
        </div>

        <div ng-show="form.name.$error.maxlength">
          <p class="help-block">
            <span class="text-danger" ng-show="form.name.$error.maxlength">Sorry but You are exceeding the limit of 70 characters</span>
          </p>
        </div>

        <div ng-show="form.name.$error.minlength">
          <p class="help-block">
            <span class="text-danger" ng-show="form.name.$error.minlength">Recipe Name should contain at least 2 characters</span>
          </p>
        </div>
      </div>

      <div ng-show="form.name.$valid">
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
      </div>
    </div>
  </div>

  <div class="form-group" ng-class="{'has-success has-feedback': form.description.$valid && form.description.$dirty}">
    <label for="description" class="col-md-2 control-label col-md-offset-2">
      Description
    </label>

    <div class="col-md-5">
      <textarea name="description" class="form-control" ng-model="recipe.description" rows="3"
                placeholder="Some tasty meal">
      </textarea>

      <div ng-show="form.description.$untouched">
        <p class="help-block">
          <span class="text-info">It's up to You to provide a short description for Your Recipe</span>
        </p>
      </div>

      <div ng-show="form.description.$valid && form.description.$dirty">
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
      </div>
    </div>
  </div>

  <div class="form-group" ng-class="{'has-error has-feedback':errors.instructions, 'has-success has-feedback': form.instructions.$valid}">
    <label for="instructions" class="col-md-2 control-label col-md-offset-2">
      Instructions
    </label>

    <div class="col-md-5">
      <textarea name="instructions" class="form-control" ng-model="recipe.instructions" rows="5"
                placeholder="e.g. Flambé for 20 seconds" ng-minlength="10" required="">
      </textarea>

      <div ng-show="form.$submitted || form.instructions.$touched || form.instructions.$dirty">
        <div ng-show="form.instructions.$error.required">
          <p class="help-block">
            <span class="text-danger">Please provide the instructions</span>
          </p>
        </div>

        <div ng-show="form.instructions.$error.minlength">
          <p class="help-block">
            <span class="text-danger" ng-show="form.instructions.$error.minlength">The Instruction should contain at least 10 characters</span>
          </p>
        </div>
      </div>

      <div ng-show="form.instructions.$valid">
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-3 col-md-2 col-xs-6">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

    <div class="col-md-4 col-xs-6 text-right">
      <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="save()">Save</button>
    </div>
  </div>
</form>
